---
layout: default
title: Demo - Security Testing
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://www.youtube.com/watch?v=2SCu2p6-mec"
form_id: "1002"
form_type: "resources"
cta_title: "Watch the demo"
cta_date: 
cta_subtitle: 
link_text: "Watch the demo"
success_message: "You will also receive a link to the demo sent to your inbox."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Watch how GitLab helps you create secure applications
        %h2.page-subtitle Security testing demo

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Watch this 7-minute demo to learn more about GitLab’s application security testing capabilities and see how GitLab enables comprehensive security testing before the code is merged!
            %p With GitLab, all tests are automated into every merge request. You no longer need to choose between risk, cost and agility and there is no need to buy separate single-solution tools.

            %h3 What's in this video:
            %ul
              %li Application Security Testing Demo in GitLab
              %li View of complete security report on one page
              %li Static, Dynamic, Dependency, and Container

            %p Watch the video now for a demo of GitLab’s automated security testing.


        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource"